@import "tailwindcss";

@theme {
  --color-dark-bg: #121212;
  --color-dark-card: #1E1E1E;
  --color-accent-purple: #8B5CF6;
}

body {
  margin: 0;
  background-color: #121212;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-cascade {
  opacity: 0; /* Inicia invisible */
  animation: fadeInUp 0.7s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

/* Opcional: para que el scroll de categorías sea invisible */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }